* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    box-sizing: border-box;
}

html {
    font-family: Niramit, sans-serif;
}

#header {
    background-color: rgb(44, 52, 56);
    width: 100%;
    height: auto;
    display: block;
}

#search {
    background-color: rgb(44, 52, 56);
    width: 100%;
    height: 35px;
    display: block;
}

#searchicon {
    font-size: 17.5px;
    position: absolute;
    left: 49%;
    color: white;
}

#titel {
    background-color: rgb(44, 52, 56);
    width: 60%;
    text-align: center;
    color: white;
    margin: auto;
    border-radius: 0 0 20px 20px;
}

nav {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: block;
}

h4#menu {
    background-color: #29ce5d;
    color: white;
    padding: 10px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    width: 92.5%;
    display: inline-block;
}

.collapsible {
    background-color: #29ce5d;
    color: white;
    cursor: pointer;
    float: right;
    width: 7.5%;
    height: 33.4px;
    border-left: 1px solid white;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #29ce5d;
}

.content {
    overflow: hidden;
    background-color: rgb(44, 52, 56);
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.link {
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid gray;
}

.link:last-child {
    border-bottom: 0;
}

a {
    font-size: 12.5px;
    color: white;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

@media all and (min-width: 550px) {

}

@media all and (min-width: 800px) {

}